@model BitsionPrueba.ViewModels.PlayListViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Model.AllPlayLists != null && Model.AllPlayLists.Count() > 0)
{
    <p class="subTitulo">Play List Existentes</p>
    <table id="tabla" width="100%" style="text-align:center">
        <tr class="ElementoCabecera">
            <th>Id</th>
            <th>Nombre</th>
            <th>Canciones</th>
            <th>Duracion</th>
        </tr>
        @foreach (var pl in Model.AllPlayLists)
        {
            <tr>
                <td>@pl.Id</td>
                <td>@pl.Nombre</td>
                <td>@pl.CantidadCanciones.ToString()</td>
                <td>@pl.Duracion.ToString()</td>
            </tr>
        }
    </table>
    <hr />
    <p>Usuarios</p>
    <label class="lblGralRight">Usuarios</label>@Html.DropDownListFor(x => x.IdUsuarioSeleccionado, new SelectList(Model.Users, "Id", "Nombre"), new { @class = "txtGral" })
    <a href="Editar/@Model.IdUsuarioSeleccionado">Editar</a>
}