@model BitsionPrueba.ViewModels.PlayListViewModel
@{
    ViewBag.Title = "Todas las Play Lists";
}

<h2>Index</h2>

@using (Html.BeginForm("Editar", "PlayList", FormMethod.Post))
{
    if (Model.AllPlayLists != null && Model.AllPlayLists.Count() > 0)
    {
        <p class="subTitulo">Play List Existentes</p>
        <table id="tabla" width="100%" style="text-align:center">
            <tr class="ElementoCabecera">
                <th>Id</th>
                <th>Nombre</th>
                <th>Canciones</th>
                <th>Duracion</th>
                <th>Seguidores</th>
                <th></th>
            </tr>
            @foreach (var pl in Model.AllPlayLists)
            {
                <tr>
                    <td>@pl.Id</td>
                    <td>@pl.Nombre</td>
                    <td>@pl.CantidadCanciones.ToString()</td>
                    <td>@pl.Duracion.ToString()</td>
                    <td>@pl.Seguidores</td>
                </tr>
            }
        </table>
        <hr />
        <p>Usuarios</p>

        @Html.DropDownListFor(x => x.IdUsuarioSeleccionado, new SelectList(Model.Users, "Id", "Nombre"), new { id = "ddlUser" })
        <div style="display: none">
            <!-- Tiene que quedar invisible. Se usa para almacenar id de productos chequeados -->
            @Html.TextBoxFor(model => model.IdUsuarioSeleccionado)
        </div>
        <button type="submit">Ver sus PlayLists</button>


    }

}
<label>@Model.MensajeError</label>
